$color-black: #000000;
$color-white: #fff;
$colorwhite: #fff;
$color-pink: #ee5879;
$color-grey: rgba(0, 0, 0, 0.7);
$color-grey-middle: rgba(255, 255, 255, 0.4);
$color-grey-light: #888888;
.clearfix {
  clear: both;
}
// 1 266px
@font-face {
  font-family: "Roboto-Regular";
  src: local("/fonts/Roboto-Regular.ttf");
}
* {
  scrollbar-width: thin;
  scrollbar-color: #8f8f8f #e7e7e7;
}
body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  position: relative;
}

::-webkit-scrollbar {
  width: 11px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(142, 142, 142, 0.4);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(150, 150, 150, 0.4);
}

a {
  transition: all 0.3s;
  cursor: pointer;
  color: $color-white;
}
// a:hover {
//   color: $color-pink;
// }
.hovered-link {
  color: $color-pink;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.active {
  color: $color-pink;
}
.page {
  position: relative;
}

.wrap {
  max-width: 1440px;
  width: 100%;
  padding-left: 87px;
  padding-right: 87px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  text-align: center;
}
.button:hover {
}
.prompt {
  font-size: 10px;
  line-height: 342%;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  color: $color-pink;
}

// call
.call {
  // call__link
  &__link {
    display: block;
    font-size: 20px;
    line-height: 1.08;
    margin-bottom: 5px;
  }
  // .call__text
  &__text {
    font-size: 11px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.4);
  }
}
// call

// header

/* burger */
.burger {
  display: none;
  border-radius: 3px;
  padding: 6px 3px;
  width: 30px;
  height: 30px;
  background: $color-white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;

  &__container {
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  &__container::before,
  &__container::after,
  &__container .burger_line {
    width: 100%;
    height: 4px;
    background-color: $color-black;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &__container::before,
  &__container::after {
    content: "";
    position: absolute;
    z-index: 20;
  }

  &__container::before {
    top: 0px;
    left: 0;
  }

  &__container::after {
    bottom: 0px;
    left: 0;
  }

  &__active {
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: none;
  }
  &__navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__navigation-item:not(:last-child) {
    margin-right: 34px;
  }
  &__link {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
  }

  &__navigation-menu_mobile .burger__navigation-link:hover {
    color: $color-white;
    text-decoration: underline;
  }
}

.burger_active {
  .burger_line {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  .burger__container::after {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: 7px;
    background-color: $color-white;
  }

  .burger__container::before {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    top: 7px;
    background-color: $color-white;
  }
}

/* burger */

.prompt {
  margin-bottom: 64px;
}
// proposal
.arrow-block {
  grid-area: arrow;
  display: flex;
  align-items: center;

  &__arrow {
    display: block;
    width: 43px;
    height: 43px;
  }
}

.header {
  position: fixed;
  z-index: 150;
  width: 100%;
  top: 0;
  left: 0;
  background: $color-black;
  &__wrap {
    padding: 34px 57px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
}

// header
// home
.home {
  background-color: $color-black;
  // .home__wrap
  &__wrap {
    padding-top: 168px;
  }
  // .home__container

  &__container {
    padding: 57px 0 109px;
    color: $color-white;
  }
  // .home__top

  &__top {
    padding: 138px 18% 138px 11%;
    position: relative;
  }
  // .home__title

  &__title {
    position: relative;
    z-index: 10;
    font-size: 114px;
    line-height: 1.1;
  }
  &__title-block {
    display: block;
  }
  &__title-block:last-child {
    text-align: right;
  }
  // .home__img

  &__img {
    top: 0;
    left: 29%;
    position: absolute;
    width: 42%;
    // padding-bottom: 100%;
    z-index: 1;
  }
  // .home__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  // .home__description

  &__description {
    max-width: 50%;
    font-size: 19px;
    line-height: 1.44;
  }
}
// home
// proposal
.proposal {
  // .proposal__wrap

  &__wrap {
    padding-top: 86px;
    padding-bottom: 162px;
  }

  // .proposal__item
  &__item:last-child {
    margin-bottom: 0;
  }
  // .proposal__item-title

  &__item-title {
    display: flex;
    align-items: center;
    padding-right: 10px;
    grid-area: title;
    font-size: 46px;
    line-height: 1.2;
  }

  &__item-description {
    display: flex;
    align-items: center;
    grid-area: description;
    font-size: 16px;
    line-height: 1.33;
    padding-right: 15px;
  }
  &__item {
    display: grid;
    grid-template-areas: "title description arrow";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr auto;
    padding: 24px 4px 32px;
    margin-bottom: 26px;
    border-radius: 3px;
  }

  // стили при наведении
  &__item_hovered {
    background-color: $color-pink;
    color: $color-white;
  }
  &__item_hovered path {
    background-color: $color-pink;
    stroke: $color-white;
  }
  &__item_hovered path:last-child {
    fill: $color-white;
  }
}

// histories

.histories {
  // .histories__wrap

  &__wrap {
    padding-bottom: 139px;
  }

  // .histories__container

  &__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 2.1%;
    align-items: top;
  }

  // .histories__title

  &__title {
    grid-column: 1 / 4;
    font-size: 114px;
    line-height: 1.07;
  }

  // .histories__item

  &__item {
    margin-bottom: 43px;
  }
  &__item:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  // .histories__item-img

  &__item-img {
    width: 100%;
  }

  // .histories__item-description

  &__item-description {
    font-size: 13px;
    line-height: 148%;
    color: $color-black;
    padding: 13px 1px 0;
  }
  .histories__plug {
    // grid-column: 1;
  }

  // .histories__text

  &__text {
    grid-column: 1 / 3;
    font-size: 17px;
    line-height: 138%;
    align-self: center;
    padding-bottom: 49px;

    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__quote {
    grid-column: 3 / 5;
    font-size: 17px;
    line-height: 138%;
    text-align: center;
  }
}

// histories
// clients

.clients {
  // .clients__wrap

  &__wrap {
    padding-bottom: 114px;
  }
  // .clients__row

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  // .clients__item

  &__item {
    width: 20%;
  }
  &__item:nth-child(-n + 5) {
    margin-bottom: 50px;
  }

  // .clients__img

  &__item-img {
    width: 100%;
  }
}

// clients
// slider

.slider {
  background-color: $color-black;
  color: $color-white;

  &__wrap {
    padding-top: 145px;
    padding-bottom: 93px;
  }

  &__subcontainer {
    padding: 20px;
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__links {
    width: 30%;
  }
  &__links:focus {
    color: #fff;
  }
  &__links:hover {
    color: #fff;
  }
  &__links:active {
    color: #fff;
  }

  &__links-item {
    margin-bottom: 10px;
  }

  // .slider__pagination

  &__pagination {
    overflow: hidden;
    position: relative;
  }
  &__pagination-container {
    cursor: move;
    touch-action: none;
    position: relative;
    display: flex;
    user-select: none;
  }
  &__pagination-item {
    font-size: 114px;
    line-height: 130%;
  }
  &__pagination-item:not(:last-child) {
    // важно использовать именно padding!
    // чтобы функционировал слайдер
    padding-right: 54px;
  }

  &__slides {
    position: relative;
    width: 70%;
    height: 325px;
    overflow: hidden;
  }
  &__slides-item {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(1000px);
    transition: all 0.7s;
    overflow-y: auto;
    height: 270px;
    margin-bottom: 20px;
  }
  &__slides-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__slides-item_visible {
    opacity: 1;
    transform: translateY(0);
  }

  &__slides-content {
    margin-bottom: 22px;
  }

  &__slides-link {
    position: relative;
    font-size: 16px;
    line-height: 132%;
    border-bottom: 1px solid $color-white;
    padding-bottom: 10px;
  }
  &__slides-link:hover {
    border-color: $color-pink;
  }
  &__pagination {
    display: flex;
  }
}
// slider
//
// inspiration

.inspiration {
  // .inspiration__wrap

  &__wrap {
    padding-top: 47px;
    padding-bottom: 147px;
  }

  &__item-img {
    width: 100%;
  }
  // .inspiration__container

  &__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2.1%;
  }

  // .inspiration__title

  &__title-container {
    grid-column: 2/5;
    display: flex;
    padding: 0 9.6% 0 5.07%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {
    font-size: 114px;
    line-height: 107%;
    margin-bottom: 37px;
  }

  // .inspiration__subtitle

  &__subtitle {
    font-size: 20px;
    line-height: 131%;
  }

  &__quote {
    font-size: 20px;
    line-height: 131%;
    align-self: center;
  }
  &__item {
    color: $color-black;
  }
  &__item:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  &__quote {
    grid-column: 1/3;
  }
  &__item-tags {
    margin: 16px 0 4px;
    font-size: 10px;
    line-height: 131%;
    color: $color-grey;
    // color: $color-grey;
  }

  &__item-book {
    font-size: 12px;
    line-height: 141%;
  }
}

// inspiration
// motivation

.motivation {
  // .motivation__wrap

  &__wrap {
    padding: 0;
  }

  // .motivation__container

  &__container {
  }
}

.ticker {
  position: relative;
  font-size: 114px;
  line-height: 1.67;
  color: $color-grey-light;
  overflow: hidden;
  &__container {
    display: flex;
    white-space: nowrap;
  }
  &__container p > * {
    padding-right: 60px;
  }
  &__text_black {
    color: $color-black;
  }
}

// motivation
// development

.development {
  // .development__wrap

  &__wrap {
    padding-top: 59px;
    padding-bottom: 98px;
  }

  &__container:after {
    content: " ";
    display: table;
    clear: both;
  }
  &__container > * {
    width: 41%;
  }

  // .development__title

  &__title {
    float: left;
    width: 41%;
    font-size: 46px;
    line-height: 124%;
    padding-bottom: 39px;
    padding-top: 62px;
  }

  // .development__img

  &__img {
    float: right;
    margin-bottom: 50px;
  }
  &__img:last-of-type {
    float: left;
  }

  // .development__text
  &__text-containter {
    float: right;
    margin-bottom: 31px;
  }
  &__text {
    font-size: 20px;
    line-height: 127%;
  }
}

.signature {
  display: flex;
  &__img {
    width: 100%;
  }
}
// development

// footer

.footer {
  color: $color-white;
  background-color: $color-black;
  // .footer__wrap
  &__wrap {
    padding-top: 97px;
    padding-bottom: 43px;
  }

  &__prompt {
    color: $color-white;
    font-size: 10px;
    line-height: 342%;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
  &__contacts-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 144px;
  }
  &__mail,
  &__tel {
    display: block;
    font-size: 65px;
    line-height: 150%;
  }
  &__contacts-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 230px;
  }
  &__adress {
    font-size: 20px;
    line-height: 166%;
    font-style: normal;
  }

  &__policy {
    color: $color-grey-middle;
  }
  &__copy {
    margin-right: 86px;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  &__item svg {
    width: 60px;
    height: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 43px;
  }

  &__item:hover svg path {
    fill: $color-pink;
  }
}

.copy {
  display: inline-block;
  font-size: 12px;
  line-height: 141%;
  color: $color-grey-middle;
}
.policy {
  display: inline-block;
  font-size: 12px;
  line-height: 141%;
}

// footer
